@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color:black;
}
.regis{
    width: 100%;
    height: 30px;
    background-color:white;
    display: flex;
    align-items: center;
}
.regis ul{
    list-style: none;
    margin-left: 20px;
}
.regis ul li{
    display: inline;
    align-items: center;
}
.regis ul li a{
    text-decoration: none;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight:bold;
    color: black;
}

.regis ul li:hover{
    color: #2874f0;
}
.regis span{
    margin-right: 5px;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color:#FFD737;
}
.logo{
    margin-left: 0px;
    color: white;
    height: 100px;
}
.logo h1 img{
    width: 120px;
    height: auto;
    margin-left: 100px;
}
.logo i{
    display: none;
    position: absolute;
    left: 15px;  top: 12px;
    font-size: 25px;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
header ul li{
    list-style: none;
}
.nav li{
    cursor: pointer;
    padding: 20px;
    height: auto;
}
.srch{
    margin-left: 20px;
    width: 550px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 0px;
    border: 2px solid gray;
    border-radius: 40px;
    position: relative;

}
.srch input{
    width:100%;
    height:50px;
    border-radius:40px;
    border: none;
    text-indent: 10px;
    outline: none;
    
}
.srch input:focus{
    text-indent: 10px;
}
.srch button{
    height:40px;
    padding-bottom:20px;
    width: 40px;
    border-radius: 50%;
    background-color:#FFD737;
    border: none;
    outline: none;
    color: gray;
    font-size: 10px;
    position: absolute;
    right:5px 
}
.srch button i{
padding: 10px;
font-size: 20px;
}
header ul{
    display: flex;
    width: 100%;
    justify-content:right;
    list-style: none;
    color:black;
}
.log .submenu{
position:fixed;
z-index: 888;
right:0px;
top:80px;
}
.nav{
    margin-right: 30px;
}
.log i{
    font-size: 20px;
    color:#FFD737;
}
.log p{
  
    background-color:white;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid gray;

}
.log ul li{
    font-size: 16px;
    padding-top:15px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: black;
    font-weight: lighter;
    text-align: left;
}
.carti{
    width: 180px;
    display: flex;
    justify-content:left;
    align-items: center;
    height: 50px;
    background-color:white;
    border-radius: 30px;
    border: 2px solid gray;
    margin-right: 100px;
    position: relative;
}
.carti .cart-count{
    font-size: 10px;
    position: absolute;
    top: 0px; left: 30px;
    background-color: #FFD737;
    padding: 5px;
    border-radius: 50%;
}


.carti p{
    background-color: #FFD737;
    padding: 7px;
    margin-left: 5px;
    border-radius: 50%;
}
.carti p i{
    font-size: 20px;
    color: gray;
}
.carti .total-title{
    font-size: 15px;
    font-weight: lighter;
    margin-left: 10px;
}
.carti .total-price{
    font-size: 15px;
    font-weight: lighter;
    margin-left: 10px;
}

.nav li{
    font-weight: bold;
    font-size: 20px;
}

/* header 2 */
.header2{
    height: 50px;
    background-color:white;
    border-bottom: 2px solid rgb(205, 203, 203);
}
.head2{
    padding-top: 15px;
    text-align:center;
}
.head2 li{
    display:inline;
   padding: 30px;
    font-weight: bold;
}
.head2 li i{
    font-size: 10px;
    color: gray;
}

.main{
    height: 450px;
    background-color:black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 180px;
    left: 0px;
    visibility:hidden;
}

.main .sub1 {
   background-color:black;
   cursor: pointer;
   width:20%;
   height: 400px;
   text-align: left;
}
 .main .sub1 h4{
    padding-left:0px;
    color: white;
    font-size: 16px;
}
.main.sub1 li{
    padding-left:10px;
} 
.sub1 hr{
    margin-left: 20px;
    margin-top: -10px;
    margin-right:65px;
}
.main .sub1 li a{
    margin:0px;
    font-size: 13px;
    color: rgb(215, 210, 210);
    display: block;
    padding-left:20px;
    text-decoration: none;
}
.head2 .elect:hover .main{
    visibility: visible;
    z-index: 999;
    transition-duration:0.5s;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .tv:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .women:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .men:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .baby:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
/* cart */
.cart{
    width: 20%;
    height: 700px;
    margin-top: 100px;
    background-color:white;
    position: fixed;
    right: -320px; top: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 9999;
}
.cart.cart-active{
    transition: 0.5s;
    right: 30px;
}
.cart-title{
    font-size: 18px;
    font-weight: bold;
    padding:10px;
    color: black;
    background-color:#FFD737;
}
.cart-remove{
    position: absolute;
    right: 10px; top: 10px;
    font-size: 20px;
    color:black;
}
.cart-mini{
    display: flex;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
    position: relative;
}
.cart-content{
    font-size: 12px;
    margin-top:0px;
}
.cart-content .qty{
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;

}
.delete{
    position: absolute;
    top:25px; right: 13px;
    color: red;
    font-size: 15px;
} 
.cart-image img{
    width:70px;
    height:70px;
    border: 1px solid black;
    border-radius: 10px;

}
/* .cart-image6{
    width:70px;
    height:50px;
    border: 1px solid black;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/hel9800.jpg?v=1680802764&width=575);
    background-position: center;
    background-size: cover;

} */

/* product */
/* side */
.side h3{
    padding-left: 30px;
    margin-bottom: 20px;
}
.btn-group{
    display:flex;
    flex-direction: column;
    gap: 5px;
}
.btn-group button{
    padding: 10px;
    width: 80%;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    background-color: #FFD737;
    color: black;
    border:3px solid #FFD737;
    cursor: pointer;
}
.btn-group button:hover,
.btn-group .btn-clicked{
    background-color:transparent;
    color: white;
}

/* right side */
.title{
    width: 95%;
    margin: auto;
    height: 200px;
    font-size: 30px;
    display: flex;
    justify-content:left;
    color: white;
    align-items: center;
}
.pro-main{
    width: 98%;
    margin: auto;
    padding-bottom: 20px;
    height: auto;
    display: flex;
}
.product hr{
    margin-top:-60px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
}
.pro-main .side{
    width:100%;
    flex:20%;
    height: auto;
    padding: 10px;
}
.pro-main .side2{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width:100%;
    flex: 80%;
    height:auto;
}
.side2 .mini{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
    width:22%;
    border-radius: 10px;
    height: 370px;
    position: relative;
    background-color: white;
}
.mini .offer{
    background-color: rgb(8, 207, 8);
    width: 60px;
    position: absolute;
    left: 10px; top: 10px;
    border-radius: 20px;
    color: aliceblue;
    font-size: 15px;text-align: center;
    padding: 7px;
}

.mini .add-cart{
    position: absolute;
    top: 59%; right: 10px;
    font-size: 18px;
    background-color: #8e44ad;
    width: 40px;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 5px;
   visibility: hidden;
}
 .mini:hover .add-cart{
    visibility: visible;
    transition:all;
}
.mini .image{
    width: 100%;
    height:250px;
}
.image{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}


.content{
    padding-top: 20px;
    padding-left:20px;
    padding-right: 5px;
}
.content h4{
    font-size: 17px;
    padding-bottom: 10px;
}
.content p{
    font-size: 18px;
    font-weight: bold;
}
.content p span{
       text-decoration: line-through;
       font-weight: lighter;
       font-size: 15px;
}


/* chatbot */
.chatbot{
    border: 1px solid gray;
    height: 500px;
    width: 300px;
    background-color:white;
    position: fixed;
    top:140px; right: 20px;
    transform: scale(0.5);
    opacity:0;
    pointer-events:none;
    border-radius: 10px;
  }
  .chatbot.open3{
    transform: scale(1);
    opacity:1;
    pointer-events:auto;
  }
  .chatbot header{
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
  }
.chatbox{
    padding: 10px;
   
}
  .chatbox .chat-incoming{
    display: flex;
    flex-wrap:wrap;
    gap:5px;
  }
  .chat-incoming span{
    padding-right: 5px;
    font-size: 18px;
    color: #2874f0;
  }
  .chat-incoming p{
    background-color: rgb(211, 208, 208);
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
    font-size:15px;
    margin-bottom: 10px;
  }
  .chat-outgoing p{
    float:right;
    background-color:#FFD737;
    padding: 10px;
    border-radius: 10px 10px 0px 10px;
    font-size:15px;
    margin-bottom: 10px;
  }

  .chat-input{
    border-top: 1px solid gray;
    position: fixed;
    width: 86%;
    padding: 5px 20px ;
    bottom:0px; left:0px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  .chat-input input{
    width: 80%;
    height: 20px;
    padding: 16px 15px 16px 0px;
    border: none;
    outline: none;
  }
  .chat-input span{
    font-size: 18px;
    display: flex;
    align-items: center;
    visibility: hidden;
  }
  .chat-input input:valid~span{
    visibility: visible;
  }
  .show-chatbot{
    position:fixed;
    left: 0px;
    bottom:100px;
  }
 
  .chatbot-toggle{
    position:fixed;
    bottom:30px;right: 20px;
    height: 50px;
    width: 50px;
    background-color: #FFD737;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    outline: none;
    padding: 5px;
    border: 2px solid black;
    border-radius: 50%;
  }
  .chatbot-toggle span{
    position: absolute;
    font-size: 20px;
    color: white;
  }
    .show-chatbot .chatbot-toggle span:first-child,
  .chatbot-toggle span:last-child{
    opacity:0;
  }  
   .show-chatbot .chatbot-toggle span:last-child{
    opacity:1;
  } 



/* footer */
.sun{
    background-color:#FFD737;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 50px;
}
.aro{
    
    height: 600px;
    width: 35%;
    margin: 3px;
    color: black;
}
.aro img{
    margin-left: 60px;
    width: 160px;
    margin-top: 20px;
   
}
.aro h2{
    margin-top: -0px;
    margin-left: 60px;
    margin-bottom: 15px;
    color: black;
    font-size: 20px;
}
.aro p{
    margin-top: -0px;
    margin-left: 60px;
    color: black;
    font-size: 18px;
}
.saku{
    
    height: 600px;
    width: 20%;
    margin: 3px;
}
.saku h2{
    margin-top: 180px;
    margin-left: 60px;
    margin-bottom: 15px;
    color: black;
    font-size: 20px;
}

.saku a{
    text-decoration: none;
    margin-top: 100px;
    margin-left: 60px;
    color: black;
    
}
.selva{
    
    height: 600px;
    width: 20%;
    margin: 3px;
}
 .selva h2{
    margin-top: 180px;
    margin-left: 60px;
    margin-bottom: 15px;
    color: black;
    font-size: 20px;
}
.selva a{
    text-decoration: none;
    margin-top: 100px;
    margin-left: 60px;
    color: black;
    
}
.aji{
    
    height: 600px;
    width: 35%;
    margin: 5px;
    color: black;
}
.aji p{
    margin-left: 60px;
    margin-top: 180px;
    font-size: 18px;
}
.aji img{
    color: black;
    margin-left: 60px;
    margin-top: 250px;
    height: 50px;
    width: auto;
}
.mathu img{
    margin-top: -100px;
    height: 50px;
    margin-right: 100px;
}
