@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color:#f3f4f8;
}
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color:#FFD737;
}
.logo{
    margin-left: 0px;
    color: white;
}
.logo h1 img{
    width: 130px;
    height: auto;
    margin-left: 100px;
}
.logo i{
    display: none;
    position: absolute;
    left: 15px;  top: 12px;
    font-size: 25px;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
header ul li{
    list-style: none;
}
.nav li{
    cursor: pointer;
    padding: 20px;
    height: auto;
}
.srch{
    margin-left: 20px;
    width: 700px;
    display: flex;
    margin-right: 70px;
}
.srch input{
    width: 700px;
    height:40px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
}
.srch button{
    height:40px;
    padding-bottom:20px;
    width: 40px;
    border-radius: 5px 0px 0px 5px;
    background-color:white;
    border: none;
    outline: none;
    color: gray;
    font-size: 10px;
}
.srch button i{
padding: 10px;
font-size: 20px;
}
header ul{
    display: flex;
    width: 100%;
    justify-content:right;
    list-style: none;
    color:black;
}
.log .submenu{
position:fixed;
z-index: 888;
right:0px;
top:80px;
}
.nav{
    margin-right: 30px;
}
.log ul{
    position: absolute;
    top:-300px; right:170px;
    width:160px;
    z-index: 887;
    background-color: white;
    display: block;
}
.log ul.open{
    position: absolute;
    top:0px;
}
.log i{
    font-size: 15px;
    color: rgb(228, 225, 225);
}
.log ul li i{
 color:#FFD737;
 margin-right:15px;
 font-size: 15px;
 margin-left: 5px;

}
.log ul li{
    font-size: 16px;
    padding-top:15px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: black;
    font-weight: lighter;
    text-align: left;
}
.more .submenu2{
    position:fixed;
    z-index: 888;
    right:0px;
    top:80px;
    }

.more ul{
    position: absolute;
    top:-300px; right:20px;
    width: 200px;
    display: block;
    background-color:white;
    z-index: 999;
    }
    .more ul.open2{
        position: absolute;
        top: 0px;
    }
    .more i{
        font-size: 15px;
        color: rgb(228, 225, 225);
    }
.more ul li i{
     color:#FFD737;
     margin-right:15px;
    font-size: 15px;
    margin-left: 5px;
   
   }
   .more ul li{
       font-size: 16px;
       padding-top:15px;
       padding-bottom: 10px;
       padding-left: 5px;
       color: black;
       font-weight: lighter;
   }
.nav li{
    font-weight: bold;
    font-size: 20px;
}

/* header 2 */
.header2{
    height: 50px;
    background-color:white;
    border-bottom: 2px solid rgb(205, 203, 203);
}
.head2{
    padding-top: 15px;
    text-align:left;
}
.head2 li{
    display:inline;
   padding: 30px;
    font-weight: bold;
}
.head2 li i{
    font-size: 10px;
    color: gray;
}

.main{
    height: 450px;
    background-color:black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 130px;
    left: 0px;
    visibility:hidden;
}

.main .sub1 {
   background-color:black;
   cursor: pointer;
   width:20%;
   height: 400px;
   text-align: left;
}
 .main .sub1 h4{
    padding-left:0px;
    color: white;
    font-size: 16px;
}
.main.sub1 li{
    padding-left:10px;
} 
.sub1 hr{
    margin-left: 20px;
    margin-top: -10px;
    margin-right:65px;
}
.main .sub1 li a{
    margin:0px;
    font-size: 13px;
    color: rgb(215, 210, 210);
    display: block;
    padding-left:20px;
    text-decoration: none;
}
.head2 .elect:hover .main{
    visibility: visible;
    z-index: 999;
    transition-duration:0.5s;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .tv:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .women:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .men:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .baby:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}

.cart{
    width: 20%;
    height: 700px;
    background-color:aliceblue;
    position: fixed;
    right: -300px; top: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 999;
}
.cart.cart-active{
    transition: 0.5s;
    right: 0px;
}
.jesi{
    color: black;
    margin-top: 100px;
    margin-left: 150px;
}
.jesi p{
    margin-top: -50px;
}
.jesi h1{
    margin-top: 50px;
}
.jesi h3{
    margin-top: 20px;
}
.rega{
color: black;
margin-top: 100px;
margin-left: 60px;
}
.rega h3{
    margin-left: 710px;
    margin-top: -120px;
    margin-bottom: 30px;
}
.par{
    
    height: 500px;
    width: 80%;
    display: flex;
    gap: 15px;
    margin: auto;

}
.prabh{
    height:300px;
    width: 50%;
    margin: 2px;
    background-color: white;
    padding: 20px;
    color: black;

}
.prabh sup{
    color: red;
}
.prabh label{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.prabh input{
    width: 500px;
    height: 30px;
    margin: 2px;
    margin-left: 10px;
}
.prabh button{
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(250, 8, 8);
    color: white;
    cursor: pointer;
    border: none;
}
.prabh button:hover{
    background-color: rgb(15, 15, 221);
    color: white;
}
.anto{
    margin-left: -160px;
    margin-top: -40px;
}
.anto input{
height: 15px;
border-radius: 20px;
}
.anto p{
    margin-left: 280px;
    margin-top: -20px;
}
.anto a .last{
    margin-left: 170px;
    margin-top: 50px;
}
.anto a{
    text-decoration: none;
    color: black;
}
.anto a:hover{
    text-decoration: underline;
}
.moli p{
margin-left: 10px;
margin-top: 20px;
}
