@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
}
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color:#FFD737;
}
.logo{
    margin-left: 0px;
    color: white;
}
.logo h1 img{
    width: 130px;
    height: auto;
    margin-left: 100px;
}
.logo i{
    display: none;
    position: absolute;
    left: 15px;  top: 12px;
    font-size: 25px;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
header ul li{
    list-style: none;
}
.nav li{
    cursor: pointer;
    padding: 20px;
    height: auto;
}
.srch{
    margin-left: 20px;
    width: 700px;
    display: flex;
    margin-right: 70px;
}
.srch input{
    width: 700px;
    height:40px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
}
.srch button{
    height:40px;
    padding-bottom:20px;
    width: 40px;
    border-radius: 5px 0px 0px 5px;
    background-color:white;
    border: none;
    outline: none;
    color: gray;
    font-size: 10px;
}
.srch button i{
padding: 10px;
font-size: 20px;
}
header ul{
    display: flex;
    width: 100%;
    justify-content:right;
    list-style: none;
    color:black;
}
.log .submenu{
position:fixed;
z-index: 888;
right:0px;
top:80px;
}
.nav{
    margin-right: 30px;
}
.log ul{
    position: absolute;
    top:-300px; right:170px;
    width:160px;
    z-index: 887;
    background-color: white;
    display: block;
}
.log ul.open{
    position: absolute;
    top:0px;
}
.log i{
    font-size: 15px;
    color: rgb(228, 225, 225);
}
.log ul li i{
 color:#FFD737;
 margin-right:15px;
 font-size: 15px;
 margin-left: 5px;

}
.log ul li{
    font-size: 16px;
    padding-top:15px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: black;
    font-weight: lighter;
    text-align: left;
}
.more .submenu2{
    position:fixed;
    z-index: 888;
    right:0px;
    top:80px;
    }
.more ul{
    position: absolute;
    top:-300px; right:20px;
    width: 200px;
    display: block;
    background-color:white;
    z-index: 999;
    }
    .more ul.open2{
        position: absolute;
        top: 0px;
    }
    .more i{
        font-size: 15px;
        color: rgb(228, 225, 225);
    }
.more ul li i{
     color:#FFD737;
     margin-right:15px;
    font-size: 15px;
    margin-left: 5px;
   
   }
   .more ul li{
       font-size: 16px;
       padding-top:15px;
       padding-bottom: 10px;
       padding-left: 5px;
       color: black;
       font-weight: lighter;
   }
.nav li{
    font-weight: bold;
    font-size: 20px;
}

/* header 2 */
.header2{
    height: 50px;
    background-color:white;
    border-bottom: 2px solid rgb(205, 203, 203);
}
.head2{
    padding-top: 15px;
    text-align:left;
}
.head2 li{
    display:inline;
   padding: 30px;
    font-weight: bold;
}
.head2 li i{
    font-size: 10px;
    color: gray;
}

.main{
    height: 450px;
    background-color:black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 130px;
    left: 0px;
    visibility:hidden;
}

.main .sub1 {

   cursor: pointer;
   width:20%;
   height: 400px;
   text-align: left;
}
 .main .sub1 h4{
    padding-left:0px;
    color: white;
    font-size: 16px;
}
.main.sub1 li{
    padding-left:10px;
} 
.sub1 hr{
    margin-left: 20px;
    margin-top: -10px;
    margin-right:65px;
}
.main .sub1 li a{
    margin:0px;
    font-size: 13px;
    color: rgb(215, 210, 210);
    display: block;
    padding-left:20px;
    text-decoration: none;
}
.head2 .elect:hover .main{
    visibility: visible;
    z-index: 999;
    transition-duration:0.5s;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .tv:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .women:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .men:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .baby:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}

.cart{
    width: 20%;
    height: 700px;
    background-color:aliceblue;
    position: fixed;
    right: -300px; top: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 999;
}
.cart.cart-active{
    transition: 0.5s;
    right: 0px;
}

/* product */
/* side */
.side h3{
    padding-left: 30px;
    margin-bottom: 20px;
}
.btn-group{
    display:flex;
    flex-direction: column;
    gap: 5px;
}
.btn-group button{
    padding: 10px;
    width: 80%;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    background-color: #FFD737;
    color: black;
    border:3px solid #FFD737;
    cursor: pointer;
}
.btn-group button:hover,
.btn-group .btn-clicked{
    background-color:transparent;
    color: white;
}
/* right side */
.title{
    width: 95%;
    margin: auto;
    height: 200px;
    font-size: 30px;
    display: flex;
    justify-content:left;
    align-items: center;
}
.pro-main{
    width: 98%;
    margin: auto;
    height:fit-content;
    display: flex;
    margin-bottom: 50px;
}
.product hr{
    margin-top:-60px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
}
.pro-main .side{
    width:100%;
    flex:20%;
    height: auto;
    padding: 10px;
}
.pro-main .side2{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width:100%;
    flex: 80%;
    height:auto;
}
.side2 .mini{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
    width:22%;
    border-radius: 10px;
    height: 370px;
    position: relative;
    background-color: white;
}
.mini .offer{
    background-color: rgb(8, 207, 8);
    width: 60px;
    position: absolute;
    left: 10px; top: 10px;
    border-radius: 20px;
    color: aliceblue;
    font-size: 15px;text-align: center;
    padding: 7px;
}

.mini .add-cart{
    position: absolute;
    top: 59%; right: 10px;
    font-size: 18px;
    background-color: #8e44ad;
    width: 40px;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 5px;
   visibility: hidden;
}
 .mini:hover .add-cart{
    visibility: visible;
    transition:all;
    /* background-image:url(https://bandidospitstop.com/cdn/shop/files/APEXHEX-2HELMET.webp?v=1704521512&width=1125); */
}
.mini .image{
    width: 100%;
    height:250px;
}
.image img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image1{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/2_84.jpg?v=1680854293&width=1125);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
 
.image2{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/jacket.png?v=1680852469&width=1125);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}

.image3{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/2_cc7e5f08-30c0-4ab5-9e7e-c6467f50aa22.jpg?v=1696829382&width=1125);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image4{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/VEST10820MOTOWOLFVESTWITHPADBLACK0504M.jpg?v=1699594973&width=1125);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image5{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/VST11064SCOYCOARMOURAM02-2BLACKM.jpg?v=1698831528&width=1125);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image6{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/JKT6172C-6.jpg?v=1647405094&width=1125);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image7{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/2_b6fa1346-733e-43b0-ace3-899b0db10308.webp?v=1710924620&width=1125);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image8{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/GLV13861BSDDPS1GlovesBlackL6.jpg?v=1723532329&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image9{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/3_88a2f04f-f2f5-4547-9462-6a2f1a38ca02.webp?v=1697447774&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image10{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/2_b2ea3fca-cf18-4721-b186-072e4e2ee856.webp?v=1697448123&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image11{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/glv12226racecartribeglovesprimiumredxl.webp?v=1697454421&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image12{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/MASONTEX-GLOVES-M44-BLACK-BLUE.jpg?v=1656054653&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image13{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/PAN15102MOTOWEARPANTBLACKREDSIZE341.jpg?v=1712221197&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image14{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/pantsrynoxairtexblack1.jpg?v=1627036048&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image15{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/PAN15108MOTOWEARPANtBACKGREENSIZE321.jpg?v=1712222903&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image16{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/2_b946f6a2-c023-426f-a7e8-13af6c8b1a04.webp?v=1697269842&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image17{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/Aero-TourPro-Riding-Pant---Level-2.-B.jpg?v=1688552578&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image18{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/Trailblazer-TourPro-Riding-Pant-v2-F.jpg?v=1688552546&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image19{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/1_f157842f-522b-4bf4-93b4-bceb57c38d86.jpg?v=1695888744&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image20{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/1_8bd4c358-1fb2-4872-a65c-298ad284be9b.jpg?v=1696060249&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image21{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/FLY-ALL-COLOUR-BOOTS-2.jpg?v=1648184492&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image22{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/FLY-ALL-COLOUR-BOOTS-6.jpg?v=1648183450&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image23{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/BOO8108_178_209_SOLACESPEEDTECHV2BLKWHT.jpg?v=1719992909&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image24{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/3_8fb76e98-f62a-4c1c-933b-96b53c062087.jpg?v=1696064267&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image25{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/3_de5d3c18-0dc9-4ccb-bda3-01831556bc32.jpg?v=1696068275&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image26{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/2_e457c546-c214-41cf-b9eb-a27ae1128c18.jpg?v=1699612021&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image27{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/KNE13637-BSDDPELBOWGUARDRH1019BLACK2.jpg?v=1710759530&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image28{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/5_4ddf604e-3467-4081-a4e7-f92374767352.webp?v=1697710628&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image29{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/2_b7129049-5df4-4336-897c-0693cb4eff98.jpg?v=1695806509&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image30{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/6_f357738d-4034-4c2c-bf8a-aae47443be92.jpg?v=1695805694&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image31{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/1_45d552c3-116e-447d-852b-b355decf7720.jpg?v=1717153420&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image32{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/1_13952c1d-4cc4-47b5-9dd7-b03aa3120ecc.jpg?v=1706520426&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image33{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/GRB9600_motowolf_shoe_protector_901_blk.jpg?v=1723526274&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image34{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/CLO9605MOTOWOLFOPENFACEBALACLAVABLK1.jpg?v=1715857231&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image35{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/1_54b10b42-63b4-4655-8887-5e1476208132.jpg?v=1723442621&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image36{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/1_ea8ad155-4177-4f76-85bd-3f0e77055b99.webp?v=1697272643&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image37{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/1_267054be-4192-4fab-bb38-df569539dd71.webp?v=1717053160&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image38{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/B7.jpg?v=1715679457&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image39{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/1_d87e72d3-e0ef-49cd-a190-d3b57588876e.jpg?v=1695786321&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image40{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/2_baa6999e-200f-4186-8dee-2033a5dae8a7.jpg?v=1695786700&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}

.content{
    padding-top: 20px;
    padding-left:20px;
    padding-right: 5px;
}
.content h4{
    font-size: 17px;
    padding-bottom: 10px;
}
.content p{
    font-size: 18px;
    font-weight: bold;
}
.content p span{
       text-decoration: line-through;
       font-weight: lighter;
       font-size: 15px;
}

/* footer */

.sun{
    background-color:#FFD737;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 50px;
}
.aro{
    
    height: 600px;
    width: 35%;
    margin: 3px;
    color: black;
}
.aro img{
    margin-left: 60px;
    width: 160px;
    margin-top: 20px;
   
}
.aro p{
    margin-top: -0px;
    margin-left: 60px;
    color: black;
}
.aro button{
    margin-left: 90px;
    padding: 5px;
    margin-top: 20px;
    background-color: white;
    color: black;
    border: none;
    font-size: 10px;
    border-radius:20px;
    padding: 10px;
    font-weight: bold;

}
.aro button:hover{
    background-color: black;
    color: black;
}
.raj {
    margin-top: 30px;
    margin-left: 60px;
}
.raj i{
    font-size: 20px;
    color: black;
    margin-right: 10px;

}
.saku{
    
    height: 600px;
    width: 20%;
    margin: 3px;
}
.saku p{
    margin-top: 130px;
    margin-left: 60px;
    color: black;
}
.saku a{
    text-decoration: none;
    margin-top: 100px;
    margin-left: 60px;
    color: black;
    
}
.selva{
    
    height: 600px;
    width: 20%;
    margin: 3px;
}
.selva p{
    margin-top: 130px;
    margin-left: 60px;
    color: black;
}
.selva a{
    text-decoration: none;
    margin-top: 100px;
    margin-left: 60px;
    color: black;
    
}
.aji{
    
    height: 600px;
    width: 35%;
    margin: 5px;
    color: black;
}
.aji p{
    margin-left: 60px;
    margin-top: 130px;
}
.email input{
    margin-left: 60px;
    width: 300px;
    height: 40px;background-color: aliceblue;
    border: none;
    margin-top: 10px;
    border-radius: 20px;
    text-indent: 10px;
}

.email input:focus{
    text-indent: 10px;
    outline: none;
}

.email i{
    margin-left: -30px;
    font-size: 23px;
    color: black;
    margin-top:px;
}