@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color:black;
}
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color:#FFD737;
}
.logo{
    margin-left: 0px;
    color: white;
}
.logo h1 img{
    width: 130px;
    height: auto;
    margin-left: 100px;
}
.logo i{
    display: none;
    position: absolute;
    left: 15px;  top: 12px;
    font-size: 25px;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
header ul li{
    list-style: none;
}
.nav li{
    cursor: pointer;
    padding: 20px;
    height: auto;
}
.srch{
    margin-left: 20px;
    width: 700px;
    display: flex;
    margin-right: 70px;
}
.srch input{
    width: 700px;
    height:40px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
}
.srch button{
    height:40px;
    padding-bottom:20px;
    width: 40px;
    border-radius: 5px 0px 0px 5px;
    background-color:white;
    border: none;
    outline: none;
    color: gray;
    font-size: 10px;
}
.srch button i{
padding: 10px;
font-size: 20px;
}
header ul{
    display: flex;
    width: 100%;
    justify-content:right;
    list-style: none;
    color:black;
}
.log .submenu{
position:fixed;
z-index: 888;
right:0px;
top:80px;
}
.nav{
    margin-right: 30px;
}
.log ul{
    position: absolute;
    top:-300px; right:170px;
    width:160px;
    z-index: 887;
    background-color: white;
    display: block;
}
.log ul.open{
    position: absolute;
    top:0px;
}
.log i{
    font-size: 15px;
    color: rgb(228, 225, 225);
}
.log ul li i{
 color:#FFD737;
 margin-right:15px;
 font-size: 15px;
 margin-left: 5px;

}
.log ul li{
    font-size: 16px;
    padding-top:15px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: black;
    font-weight: lighter;
    text-align: left;
}
.more .submenu2{
    position:fixed;
    z-index: 888;
    right:0px;
    top:80px;
    }
.more ul{
    position: absolute;
    top:-300px; right:20px;
    width: 200px;
    display: block;
    background-color:white;
    z-index: 999;
    }
    .more ul.open2{
        position: absolute;
        top: 0px;
    }
    .more i{
        font-size: 15px;
        color: rgb(228, 225, 225);
    }
.more ul li i{
     color:#FFD737;
     margin-right:15px;
    font-size: 15px;
    margin-left: 5px;
   
   }
   .more ul li{
       font-size: 16px;
       padding-top:15px;
       padding-bottom: 10px;
       padding-left: 5px;
       color: black;
       font-weight: lighter;
   }
.nav li{
    font-weight: bold;
    font-size: 20px;
}

/* header 2 */
.header2{
    height: 50px;
    background-color:white;
    border-bottom: 2px solid rgb(205, 203, 203);
}
.head2{
    padding-top: 15px;
    text-align:left;
}
.head2 li{
    display:inline;
   padding: 30px;
    font-weight: bold;
}
.head2 li i{
    font-size: 10px;
    color: gray;
}

.main{
    height: 450px;
    background-color:black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 130px;
    left: 0px;
    visibility:hidden;
}

.main .sub1 {
   background-color:black;
   cursor: pointer;
   width:20%;
   height: 400px;
   text-align: left;
}
 .main .sub1 h4{
    padding-left:0px;
    color: white;
    font-size: 16px;
}
.main.sub1 li{
    padding-left:10px;
} 
.sub1 hr{
    margin-left: 20px;
    margin-top: -10px;
    margin-right:65px;
}
.main .sub1 li a{
    margin:0px;
    font-size: 13px;
    color: rgb(215, 210, 210);
    display: block;
    padding-left:20px;
    text-decoration: none;
}
.head2 .elect:hover .main{
    visibility: visible;
    z-index: 999;
    transition-duration:0.5s;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .tv:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .women:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .men:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
.head2 .baby:hover .main{
    visibility: visible;
    z-index: 999;
    transition-delay: 0.3s;
    transition:all;
}
/* cart */
.cart{
    width: 20%;
    height: 700px;
    background-color:aliceblue;
    position: fixed;
    right: -300px; top: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 999;
}
.cart.cart-active{
    transition: 0.5s;
    right: 0px;
}
.cart-title{
    font-size: 18px;
    font-weight: bold;
    padding:10px;
    color: black;
    background-color: #FFD737;
}
.cart-remove{
    position: absolute;
    right: 10px; top: 10px;
    font-size: 20px;
    color: black;
}
.cart-mini{
    display: flex;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
    position: relative;
}
.cart-content{
    font-size: 12px;
    margin-top:0px;
}
.cart-content .qty{
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;

}
.delete{
    position: absolute;
    top:25px; right: 13px;
    color: red;
    font-size: 15px;
} 
.cart-image img{
    width:70px;
    height:50px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}
.cart-image6{
    width:70px;
    height:50px;
    border: 1px solid black;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/hel9800.jpg?v=1680802764&width=575);
    background-position: center;
    background-size: cover;

}

/* product */
/* side */
.side h3{
    padding-left: 30px;
    margin-bottom: 20px;
}
.btn-group{
    display:flex;
    flex-direction: column;
    gap: 5px;
}
.btn-group button{
    padding: 10px;
    width: 80%;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    background-color: #FFD737;
    color: black;
    border:3px solid #FFD737;
    cursor: pointer;
}
.btn-group button:hover,
.btn-group .btn-clicked{
    background-color:transparent;
    color: white;
}

/* right side */
.title{
    width: 95%;
    margin: auto;
    height: 200px;
    font-size: 30px;
    display: flex;
    justify-content:left;
    align-items: center;
}
.pro-main{
    width: 98%;
    margin: auto;
    height: 1230px;
    display: flex;
}
.product hr{
    margin-top:-60px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
}
.pro-main .side{
    width:100%;
    flex:20%;
    height: auto;
    padding: 10px;
}
.pro-main .side2{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width:100%;
    flex: 80%;
    height:800px;
}
.side2 .mini{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
    width:22%;
    border-radius: 10px;
    height: 370px;
    position: relative;
    background-color: white;
}
.mini .offer{
    background-color: rgb(8, 207, 8);
    width: 60px;
    position: absolute;
    left: 10px; top: 10px;
    border-radius: 20px;
    color: aliceblue;
    font-size: 15px;text-align: center;
    padding: 7px;
}

.mini .add-cart{
    position: absolute;
    top: 59%; right: 10px;
    font-size: 18px;
    background-color: #8e44ad;
    width: 40px;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 5px;
   visibility: hidden;
}
 .mini:hover .add-cart{
    visibility: visible;
    transition:all;
}
.mini .image{
    width: 100%;
    height:250px;
}
.image img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image1{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/APEXHEX-2HELMET.webp?v=1704521512&width=1125);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
 .image1:hover{
    background-image: url(https://bandidospitstop.com/cdn/shop/products/4_23.webp?v=1691234639&width=1125);
    background-position: center;
    background-size: cover;
} 
.image2{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/4_23.webp?v=1691234639&width=1125);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
/* .image2:hover{
    background-image:url(https://bandidospitstop.com/cdn/shop/files/3_7b994aee-0b25-4128-8804-c8711fcb1a32.jpg?v=1724178509&width=1125://bandidospitstop.com/cdn/shop/files/1_2c7c0a90-0e93-4050-afdb-721ed427a1f7.jpg?v=1723009384&width=575);
    background-position: center;
    background-size: cover;
} */
 .image3 img{
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
 }
.image3 {
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image4{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/HEL5064-5.jpg?v=1647000110&width=1125);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image5{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/AXOR-APEX-TURBINE-BLK-ORG-GRY-XL-copy-_1_-copy8_06fdfd86-b6a9-4758-857c-0a02b8118696.jpg?v=1664789769&width=575);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image6{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/hel9800.jpg?v=1680802764&width=575);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image7{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/AXORAPEXTIKKIBLACKNEONYELLOWL7.webp?v=1683956275&width=1125);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image8{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/HEL5959.jpg?v=1647079849&width=575);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image9{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/3_17.webp?v=1691233598&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image10{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/8_9.jpg?v=1691235835&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image11{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/products/4_adc6cafe-d5cc-4e2e-a93f-00f972ebcf20.jpg?v=1691235668&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}
.image12{
    width: 100%;
    background-image:url(https://bandidospitstop.com/cdn/shop/files/3_0e478d4b-b0b4-42cd-94bf-aa5c64b77089.webp?v=1692098442&width=1125);
    background-position:center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height:250px;
}

.content{
    padding-top: 20px;
    padding-left:20px;
    padding-right: 5px;
}
.content h4{
    font-size: 17px;
    padding-bottom: 10px;
}
.content p{
    font-size: 18px;
    font-weight: bold;
}
.content p span{
       text-decoration: line-through;
       font-weight: lighter;
       font-size: 15px;
}

/* footer */

.sun{
    background-color:#FFD737;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 50px;
}
.aro{
    
    height: 600px;
    width: 35%;
    margin: 3px;
    color: black;
}
.aro img{
    margin-left: 60px;
    width: 160px;
    margin-top: 20px;
   
}
.aro p{
    margin-top: -0px;
    margin-left: 60px;
    color: black;
}
.aro button{
    margin-left: 90px;
    padding: 5px;
    margin-top: 20px;
    background-color: white;
    color: black;
    border: none;
    font-size: 10px;
    border-radius:20px;
    padding: 10px;
    font-weight: bold;

}
.aro button:hover{
    background-color: black;
    color: black;
}
.raj {
    margin-top: 30px;
    margin-left: 60px;
}
.raj i{
    font-size: 20px;
    color: black;
    margin-right: 10px;

}
.saku{
    
    height: 600px;
    width: 20%;
    margin: 3px;
}
.saku p{
    margin-top: 130px;
    margin-left: 60px;
    color: black;
}
.saku a{
    text-decoration: none;
    margin-top: 100px;
    margin-left: 60px;
    color: black;
    
}
.selva{
    
    height: 600px;
    width: 20%;
    margin: 3px;
}
.selva p{
    margin-top: 130px;
    margin-left: 60px;
    color: black;
}
.selva a{
    text-decoration: none;
    margin-top: 100px;
    margin-left: 60px;
    color: black;
    
}
.aji{
    
    height: 600px;
    width: 35%;
    margin: 5px;
    color: black;
}
.aji p{
    margin-left: 60px;
    margin-top: 130px;
}
.email input{
    margin-left: 60px;
    width: 300px;
    height: 40px;background-color: aliceblue;
    border: none;
    margin-top: 10px;
    border-radius: 20px;
    text-indent: 10px;
}

.email input:focus{
    text-indent: 10px;
    outline: none;
}

.email i{
    margin-left: -30px;
    font-size: 23px;
    color: black;
    margin-top:px;
}